<!-- Page Header -->
<div class="page-header position-relative">
    <div class="header-title">
        <h1>数据统计</h1>
    </div>
</div>
<!-- /Page Header -->
<!-- Page Body -->
<div class="page-body">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="widget-header bordered-left bordered-darkorange">
                    <span class="widget-caption">查询信息</span>
                </div>
                <div class="widget-body bordered-left bordered-warning">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-5 col-sm-5 col-xs-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right">企业：</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="searchParams.businessId" ng-options="business.id as business.name for business in businessList" ng-change="loadEmployee(searchParams.businessId)">
                                            <option>请选择企业</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-5 col-xs-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right">企业人群：</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="searchParams.employeeTypeId" ng-options="crowd.id as crowd.text for crowd in employeeList">
                                            <option>请选择人群</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-5 col-xs-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right">统计方式：</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="searchParams.detail" ng-options="item.value as item.text for item in detailC">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-5 col-xs-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right">数据统计类型：</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="searchParams.statisticType">
                                            <option value="0">激活数据</option>
                                            <option value="1">健康险导入数据</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-5 col-xs-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right">时间跨度：</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="searchParams.dateRangeType" ng-options="range.id as range.name for range in dataRangeList">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-5 col-xs-12 col-offset-2" >
                                <div class="buttons">
                                    <!-- <a class="btn btn-info" ng-click="loadData()"><i class="fa fa fa-search"></i>查询</a> -->
                                    <!-- <a class="btn btn-info" ng-click="paramsInit(); loadData()"><i class="fa fa-times"></i>清空</a> -->
                                    <a class="btn btn-default" ng-click="loadData()">查询</a>
                                    <a class="btn btn-default" ng-click="paramsInit(); loadData()">清空</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header ">
                    <!-- <span class="widget-caption">统计数据列表</span> -->
                    <span class="widget-caption" ng-if="show.titleType == '0'">激活数据列表</span>
                    <span class="widget-caption" ng-if="show.titleType == '1'">健康险导入数据</span>
                </div>
                <div class="widget-body">
                    <div ng-if="!statisticList || statisticList.length==0">没有符合条件的数据~</div>
                    <div class="table-scrollable" ng-if="statisticList && statisticList.length>0">
                        <table class="table table-bordered table-striped datatable table-hover" aria-describedby="editabledatatable_info" width="auto">
                            <thead class="bordered-blueberry">
                                <tr role="row">
                                    <th ng-if="show.tdFlag">企业</th>
                                    <th ng-if="show.tdFlag">人群 ID</th>
                                    <th>数量</th>
                                    <th>起始时间</th>
                                    <th>截止时间</th>
                                    <th>日期范围</th>
                                    <th>数据统计类型</th>
                                    <th>数据生成时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd" ng-repeat="item in statisticList">
                                    <td ng-if="show.tdFlag">{{transData(item.businessId, 'business')}}</td>
                                    <td ng-if="show.tdFlag">{{item.employeeTypeId}}</td>
                                    <td>{{item.dataCount}}</td>
                                    <td>{{item.dateRangeStart | formatDate}}</td>
                                    <td>{{item.dateRangeEnd | formatDate}}</td>
                                    <td>{{transData(item.dateRangeType, 'dataRange')}}</td>
                                    <td>{{item.statisticType == '0' ? '激活数据' : '健康险导入数据'}}</td>
                                    <th>{{item.generateDate | formatDate}}</th>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row DTTTFooter">
                            <pagination first-text="首页" last-text="末页" previous-text="上一页" next-text="下一页" total-items="pageInfo.totalCount" ng-model="pageInfo.pageIndex" ng-change="pageChanged()" items-per-page="pageInfo.pageCount" class="pagination-sm" boundary-links="true" rotate="false" num-pages="totalPage" max-size="5" force-ellipses="true"></pagination>
                            <div class="col-sm-6">
                                <div class="dataTables_info" id="editabledatatable_info" role="alert" aria-live="polite" aria-relevant="all">页码: {{pageInfo.pageIndex}} / {{totalPage}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Body -->